@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.App {
  text-align: center;
}

.gospel-img {
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.emc-brand-blue {
  font-family: 'Archivo Black', sans-serif;
  color: #2a4299;
  font-size: 1.3em;
}

.emc-brand-red {
  font-family: 'Archivo Black', sans-serif;
  color: #a01616;
  font-size: 1.3em;
}

.emc-title-blue {
  color: #2a4299;
  font-size: 0.8em;
}

.emc-title-red {
  color: #a01616;
  font-size: 0.8em;
}

.service-hours {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.4em;
}

.nav-link {
  color: #aaa;
  font-weight: 400;
  position: relative;
}

.nav-link:after,
.nav-link:before {
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:hover {
  color: #555;
}

.home-tri-sections {
  font-family: 'Lobster', cursive;
}

@media screen and (max-width: 1000px) {
  .service-hours { font-size: 1em; }
  .home-tri-sections { font-size: 2em; }
}

@media screen and (max-width: 777px) {
  .service-hours { font-size: 13px; }
  .home-tri-sections { font-size: 1.4em; }
  .comming-soon-img { width: 400px; height: 146px; }
}

@media screen and (max-width: 525px) {
  .service-hours { font-size: 8px; }
  .home-tri-sections { font-size: 1em; }
}

@media screen and (max-width: 416px) {
  .emc-title-blue {
    width: 1px;
    visibility: hidden;
  }

  .emc-title-red {
    visibility: hidden;
    width: 1px;
  }

  .navbar-brand {
    width: 80px;
  }
}
